html {
  background: #3d7ae6;
}

body {
  margin: 0;
  font-family: Tahoma, "Trebuchet MS", Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.35;
  color: #17365d;
  background: #3d7ae6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
}

h3,
h4 {
  color: #0d2f75;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
